{% extends "Base.html" %}
{% load static %}

    {% block content %}
    
    <section class="section-content padding-y" style=" background-image: url('{% static '/images/banners/14.jpg' %}');
       background-size: cover;">

        <!-- ============================ COMPONENT REGISTER   ================================= -->
            <div class="card mx-auto" style="max-width:520px; margin-top:40px; background-color: rgb(255,255,255); border-radius: 20px">
              <article class="card-body">
                <header class="mb-4"><h4 class="card-title">Sign up</h4></header>
                <form method="post" action="" novalidate>
                    {% csrf_token %}
                     {{a.as_p}}
<!--                        <div class="form-row">-->
<!--                            <div class="col form-group">-->
<!--                                <label>First name</label>-->
<!--                                  <input type="text" class="form-control" placeholder="" name="first_name">-->
<!--                            </div> &lt;!&ndash; form-group end.// &ndash;&gt;-->
<!--                            <div class="col form-group">-->
<!--                                <label>Username</label>-->
<!--                                  <input type="text" class="form-control" placeholder="" name="username">-->
<!--                            </div> &lt;!&ndash; form-group end.// &ndash;&gt;-->
<!--                        </div> &lt;!&ndash; form-row end.// &ndash;&gt;-->
<!--                        <div class="form-group">-->
<!--                            <label>Email</label>-->
<!--                            <input type="email" class="form-control" placeholder="" name="email">-->
<!--                            <small class="form-text text-muted">We'll never share your email with anyone else.</small>-->
<!--                        </div> &lt;!&ndash; form-group end.// &ndash;&gt;-->
<!--                        &lt;!&ndash; form-group end.// &ndash;&gt;-->
<!--                        <div class="form-row">-->
<!--                            <div class="form-group col-md-6">-->
<!--                              <label>City</label>-->
<!--                              <input type="text" class="form-control" name="city">-->
<!--                            </div> &lt;!&ndash; form-group end.// &ndash;&gt;-->
<!--                            <div class="form-group col-md-6">-->
<!--                              <label>Country</label>-->
<!--                              <input type="text" class="form-control" name="country">-->
<!--                            </div> &lt;!&ndash; form-group end.// &ndash;&gt;-->
<!--                        </div> &lt;!&ndash; form-row.// &ndash;&gt;-->
<!--                        <div class="form-row">-->
<!--                            <div class="form-group col-md-6">-->
<!--                                <label>Create password</label>-->
<!--                                <input class="form-control" type="password" name="password1">-->
<!--                            </div> &lt;!&ndash; form-group end.// &ndash;&gt; -->
<!--                            <div class="form-group col-md-6">-->
<!--                                <label>Repeat password</label>-->
<!--                                <input class="form-control" type="password" name="password2">-->
<!--                            </div> &lt;!&ndash; form-group end.// &ndash;&gt;  -->
<!--                        </div>-->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Register  </button>
                        </div> <!-- form-group// -->      
                            
                    </form>
                </article><!-- card-body.// -->
            </div> <!-- card .// -->
            <p class="text-center mt-4">Have an account? <a href="{% url 'Signin' %}">Log In</a></p>
            <br><br>
        <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
        
        
        </section>
        <!-- ========================= SECTION CONTENT END// ========================= -->
        

 
  {% endblock content %}
